#form-header{
  
  width: 100%;
    position: fixed;
  text-align: justify;
  text-shadow: #000;
  /*font-size: 70px;
  line-height: 108px;*/
  height: 150px;
  background-color: #009100;
  color: #fff;
  transition: all 0.4s ease;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
 
}

